// Flag
//
// http://csswizardry.com/2013/05/the-flag-object/
//
// Markup:
//<div class="o-flag {{modifier_class}}">
//  <div class="o-flag__img">
//    <img src="http://www.placehold.it/400x200">
//  </div>
//  <div class="o-flag__body">
//    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, ipsam.</p>
//  </div>
//</div>
//
// .o-flag--top     - text aligned top.
// .o-flag--bottom  - text aligned bottom.
//
// Styleguide Objects.Flag


.o-flag {
  display: table;
  width: 100%;
}

.o-flag__img,
.o-flag__body {
  display: table-cell;
  vertical-align: middle;

  .o-flag--top & { vertical-align: top; }

  .o-flag--bottom & { vertical-align: bottom; }
}

.o-flag__body { width: 100%; }

.o-flag__img {
  padding-right: 10px;

  > img {
    display: block;
    max-width: none;
  }

  .o-flag--rev & {
    padding-right: 0;
    padding-left: 10px;
  }
}
